body {
  margin: 0;
  font-family: "Arvo", serif;
}
section {
  height: 500px;
  padding-bottom: 150px;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

h1 {
  font-size: 50px;
}

.highlight-text {
  color: #e7297f;
  font-size: 90px;
  font-family: sans-serif;
  font-weight: bold;
}

p {
  color: dimgray;

  font-size: 15px;
  font-weight: bold;
  margin-bottom: 60px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, #d971a0, #cf377c);
  padding: 25px 70px;
  margin-bottom: 30px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 25px;
}
.half-width img {
  width: 100%;
  transition: transform 0.2s;
}
.half-width img:hover {
  transform: scale(0.8);
}
.onethird-width img {
  width: 100%;
}

h2 {
  font-size: 40px;
  padding-top: 30px;
}
#bio-header {
  padding-top: 80px;
}
.onethird-width {
  width: 25%;
  float: left;
  margin-left: 4%;
  padding-left: 2%;

  transition: transform 0.2s;
}
.onethird-width:hover {
  transform: scale(1.1);
}

#work-header {
  padding-top: 130px;
  margin-left: 500px;
  font-size: 50px;
}
h3 {
  text-align: center;
  padding-bottom: 20px;
}
#work1 img {
  border: 5px solid darkgreen;
  border-radius: 3%;
  border-top-color: darkseagreen;
  border-right-style: none;
}
#work2 img {
  border: 5px solid darkgreen;
  border-radius: 5%;
  border-top-color: darkseagreen;
  border-right-style: none;
}
#work3 img {
  border: 5px solid darkgreen;
  border-radius: 6%;
  border-top-color: darkseagreen;
  border-right-style: none;
}
.single-width {
  width: 42%;

  margin: auto;
  padding-left: 250px;
}
.single-width h2 {
  margin-right: 50px;
}

.single-width h4 {
  font-size: 20px;
  margin-left: 20%;
  padding-top: 50px;
}
.single-width h5 {
  font-size: 15px;
  padding-left: 100px;
  color: dimgray;
}
.single-width p {
  font-size: 20px;
  margin-right: 30px;
  color: black;
  font-weight: lighter;
}
#contact-btn {
  display: inline-block;
  color: white;
  width: 60%;
  background-image: linear-gradient(45deg, #d971a0, #cf377c);
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  padding: 4%;
  margin-left: 18%;
}
#contact-btn h3 {
  text-align: center;
  font-size: 30px;
  transition: transform 0.2s;
}
#contact-btn h3:hover {
  transform: scale(1.1);
  color: black;
}

footer p {
  text-align: center;
  font-size: 20px;
  position: static;
  padding-top: 180px;
}

.top-bg {
  background-image: url("images/header-bg.png");
  overflow: hidden;
}

.biography-bg {
  background-image: url("images/biography-bg.png");
  overflow: hidden;
}

.projectwork-bg {
  background-image: url("images/latest-work-bg.png");
}

.footer-bg {
  background-image: url("images/footer-bg.png");
  overflow: hidden;
}
.link-button:hover {
  background-image: linear-gradient(45deg, orange, blue);
  overflow: hidden;
}
